<main class="w-dvw h-dvh bg-light-gradient dark:bg-dark-gradient flex justify-center overflow-auto relative">
  <div class="mt-6">
    <div
      class="flex bg-neutral-0 dark:bg-neutral-800 dark:border-none p-3 justify-between items-center rounded-2xl  border border-neutral-200 shadow-sm">
      <div>
        <img src="../assets/images/logo.svg" alt="logo" *ngIf="!isDarkMode">
        <img src="../assets/images/logo-light.png" alt="logo-light" *ngIf="isDarkMode" class="w-40">
      </div>
      <button
        class="bg-[#EEEEEE] dark:bg-neutral-700 hover:bg-neutral-300 dark:hover:bg-neutral-600 transition p-2 rounded-lg focus-style focus:outline-red-400 dark:focus:outline-red-500"
        (click)="toggleDarkMode()">
        <img src="../assets/images/icon-moon.svg" alt="moon-image" *ngIf="!isDarkMode">
        <img src="../assets/images/icon-sun.svg" alt="sun-image" *ngIf="isDarkMode">
      </button>
    </div>

    <div class="mt-5 md:mt-11">
      <div class="flex flex-col md:flex-row justify-between items-center gap-5">
        <p class="text-neutral-900 dark:text-neutral-0 font-bold text-3xl">Extensions List</p>
        <div class="flex gap-4">
          <button *ngFor="let x of filters" class="filters"
            [ngClass]="{'bg-red-700 dark:bg-red-400 dark:text-neutral-900 text-neutral-0 border-none dark:hover:bg-red-500' : selectedFilter === x, 'bg-neutral-0 dark:bg-neutral-700  dark:hover:bg-neutral-600  dark:text-neutral-300 text-neutral-900' : selectedFilter != x}"
            (click)="applyFilter(x)">{{x}}</button>
        </div>
      </div>
      <div class="mt-6 grid xl:grid-cols-3 gap-2 md:grid-cols-2 sm:grid-cols-1 pb-8 md:pb-0"
        *ngIf="filteredExtensionList.length > 0">
        <div
          class="bg-neutral-0 dark:bg-neutral-800 dark:border-neutral-600 p-4 rounded-2xl w-[23.5rem] border border-neutral-200 shadow-sm flex flex-col gap-8 justify-between"
          *ngFor="let x of filteredExtensionList; let i = index">
          <div class="flex gap-4">
            <div>
              <img [src]="x.logo" class="w-20">
            </div>
            <div>
              <p class="text-neutral-900 dark:text-neutral-0 font-bold text-lg">{{x.name}}</p>
              <p class="text-neutral-600 text-sm dark:text-neutral-400">{{x.description}}</p>
            </div>
          </div>
          <div class="flex justify-between items-center">
            <button
              class="text-sm rounded-full border border-neutral-300 text-neutral-900 px-4 py-2 focus-style focus:outline-red-500 focus:bg-[#EEEEEE] dark:focus:bg-neutral-600
              hover:bg-red-700 hover:text-neutral-0 transition dark:text-neutral-0 dark:border-neutral-600 dark:hover:bg-red-500 dark:hover:text-neutral-900"
              (click)="remove(x.name)">Remove</button>
            <label class="relative cursor-pointer hover:opacity-70 dark:hover:opacity-100  transition">
              <input type="checkbox" class="sr-only peer" [checked]="x.isActive" (change)="x.isActive = !x.isActive;">
              <div
                class="h-5 w-9 rounded-full bg-neutral-300 dark:bg-neutral-600 peer-checked:bg-red-700 dark:hover:peer-checked:bg-red-500 dark:peer-checked:bg-red-400 transition-colors duration-300 peer-focus:ring-2 peer-focus:ring-red-400 peer-focus:ring-offset-2">
              </div>
              <div
                class="h-4 w-4 rounded-full absolute left-0.5 bottom-0.5 bg-neutral-0 peer-checked:translate-x-full transition-transform duration-300">
              </div>
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="filteredExtensionList.length === 0"
        class="text-neutral-900 font-semibold text-center dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-0 bg-neutral-0 rounded-2xl mt-8 p-3 shadow-sm border border-neutral-200">
        <p>No {{selectedFilter === 'Active' ? 'active' : selectedFilter === 'Inactive' ? 'inactive' : ''}} extensions
          found </p>
      </div>
    </div>
  </div>
</main>

<footer class="attribution absolute bottom-0 text-center md:text-end hidden md:block mb-2 pr-3 w-full">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a>.
  Coded by <a href="#">Yogesan</a>.
</footer>